In [ ]:
# Câu 1:
def RemoveValue(listA):
  listB = []
  for i in range(0, len(listA)):
      if(listA[i] != 10):
        listB.append(listA[i])
  return listB

listA = [1,10,20,5,60,30,10,9,10]
print(RemoveValue(listA))

In [ ]:
#Câu 2:
list1 = ["A","B","C","D","E","F"]
list2 = [1,2,3,4,5,6]
dictionary = dict(zip(list1, list2))
print(dictionary)

In [ ]:
#Câu 3: 
def removeKey(person, keyToRemove):
  for key in keyToRemove:
      person.pop(key,None)
  return person
person = {
    "name" : "Quoc Nam",
    "age" : 28,
    "salary" : 8000,
    "city" : "Tuy Hoa"
}
keyToRemove = ["salary" , "city"]
print(removeKey(person, keyToRemove))

In [ ]:
#Câu 4a:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('drive/MyDrive/FileCSV/mobile_data.csv')
######Lấy 5 dòng đầu
dataHead = df.head(5)
dataHead
######Lấy 5 dòng cuối 
dataTail = df.tail(5)
dataTail

In [ ]:
#Câu 4c:
df1 = df.sort_values('price', ascending=False)
dataHead = df1.head(5)
dataHead

In [ ]:
#Câu 4d:
df['company'].value_counts().plot(kind='bar')

In [ ]:
#Câu 4e:
df1 = df.sort_values('price', ascending=True)
df1